<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- cdn boostrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/detailsblog.css">
  <!-- cdn fown awe some-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
  <title>Ohana</title>
</head>

<body>
<div class="d-block px-3 py-2 text-center text-bold skippy">
  <a href="/" class="text-white text-decoration-none">Để đăng phòng, mời bạn tải ứng dụng OHANA.</a>
</div>
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="../static/image.screen/logo.svg" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse reverse-elements" id="navbarSupportedContent">
        <div class="search-form">
          <div class="input-form">
            <div class="select-city">
              <div class="select__city">
                                    <span class="location-icon"><i
                                            class="fa-solid fa-location-dot text-pink"></i></span>
                <span class="shorthand-city text-black">HCM</span>
                <span class="down-icon"><i class="fa-solid fa-chevron-down text-pink"></i></span>
              </div>
            </div>
            <form class="input-search" action="#" method="post">
              <input type="text" class="input_search"
                     placeholder="Tìm kiếm theo địa điểm, quận, tên đường...">
              <div class="icon-search">
                <button type="submit" class="btn-search" title=""><i
                        class="fa-solid fa-magnifying-glass text-pink"></i></button>
              </div>
            </form>
          </div>
          <div class="dropdown-city-hidden">
            <span class="location-city" value="HCM">Hồ Chí Minh</span>
            <span class="location-city" value="HN">Hà Nội</span>
          </div>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white fw-bold fs-5 hv-underline" aria-current="page"
               href="#">Blog</a>
          </li>
          <li class="nav-item ps-xl-3">
            <a class="nav-link text-white fw-bold fs-5 hv-underline" href="#">Đăng phòng</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--content-->
<main class="main-wrap">
  <section class="m-hero with-picture aos-init aos-animate">
    <div class="m-hero__picture in-post"></div>
  </section>
  <article>
    <div class="l-content in-post">
      <div class="l-wrapper in-post js-aos-wrapper aos-init aos-animate">
        <div class="l-post-content  has-subscribe-form js-progress-content">
          <header class="m-heading">
            <h1 class="m-heading__title in-post">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
              qua kênh nào</h1>
            <div class="m-heading__meta">
              <span class="m-heading__meta__time">Aug 26, 2020</span>
            </div>
          </header>
          <div class="pos-relative js-post-content">
            <div class="m-share">
              <div class="m-share__content js-sticky">
                <a href="#" class="m-icon-button filled in-share" target="_blank" rel="noopener"
                   aria-label="Facebook">
                                        <span class="icon-facebook" aria-hidden="true"><i
                                                class="fa-brands fa-facebook"></i></span>
                </a>
                <a href="#" class="m-icon-button filled in-share" target="_blank" rel="noopener"
                   aria-label="Twitter">
                                        <span class="icon-twitter" aria-hidden="true"><i
                                                class="fa-brands fa-twitter"></i></span>
                </a>
                <button class="m-icon-button filled in-share progress js-scrolltop"
                        aria-label="Scroll to top">
                                        <span class="icon-arrow-top" aria-hidden="true">
                                            <i class="fa-solid fa-arrow-up"></i></span>
                  <svg aria-hidden="true" viewBox="0 0 50 50" style="opacity: 1;">
                    <circle class="progress-ring__circle js-progress" fill="transparent" r="23"
                            stroke-width="3" cx="25" cy="25"
                            style="stroke-dasharray: 157.08, 157.08; stroke-dashoffset: 152.367;">
                    </circle>
                  </svg>
                </button>
              </div>
            </div>
            <p>Thị trường phòng trọ phát triển, các bạn sinh viên sẽ có thể dễ dàng tìm phòng hơn với vô
              vàng kênh tìm phòng. Tuy nhiên, không phải kênh tìm phòng nào cũng tốt, vậy hãy cùng
              Ohana tìm hiểu xem đâu là những kênh tìm phòng hiệu quả mà các bạn sinh viên có thể
              hướng đến nhé.</p>
            <h2 id="1-ng-i-th-n-b-n-b-v-c-c-anh-ch-kh-a-tr-n">1. Người thân, bạn bè và các anh chị khóa
              trên</h2>
            <p>Đây là kênh tìm phòng đáng tin cậy nhất và nên là kênh tìm phòng đầu tiên của các bạn
              sinh viên. Họ là người hiểu rõ được nhu cầu của bạn và có thể đưa ra cho bạn những lời
              khuyên bổ ích để giúp bạn tìm được căn phòng ưng ý. Họ cũng sẽ là người hỗ trợ bạn trong
              quá trình tìm phòng. Không những vậy, với sự giúp đỡ của các bạn sinh viên khóa trên,
              các bạn sẽ có một người hỗ trợ để tránh gặp phải lừa đảo và những căn phòng kém chất
              lượng. Tuy nhiên, kênh tìm phòng này sẽ chỉ có thể đưa ra cho bạn những lời khuyên bổ
              ích nhưng số lượng phòng ở nguồn này khá giới hạn thế nên sẽ khó để bạn có thể tìm ra
              được phòng ưng ý từ đây.</p>
            <figure class="kg-card kg-image-card"><img
                    src="https://blog.ohanaliving.vn/content/images/2020/08/img_9529-1.jpg"
                    class="kg-image js-zoomable medium-zoom-image" alt="" loading="lazy" width="1200"
                    height="800"
                    srcset="https://blog.ohanaliving.vn/content/images/size/w600/2020/08/img_9529-1.jpg 600w, https://blog.ohanaliving.vn/content/images/size/w1000/2020/08/img_9529-1.jpg 1000w, https://blog.ohanaliving.vn/content/images/2020/08/img_9529-1.jpg 1200w"
                    sizes="(min-width: 720px) 720px"></figure>
            <h2 id="2-c-c-nh-m-ng-tin-c-y">2. Các nhóm đáng tin cậy</h2>
            <p>Các nhóm đáng tin cậy là các nhóm được xây dựng bởi các câu lạc bộ trường đại học, các
              trường đại học hoặc các câu lạc bộ sinh viên. Mục đích của những nhóm này chính là giúp
              các bạn sinh viên tìm trọ nhanh chóng và an toàn. Đây sẽ là kênh các bạn sinh viên sử
              dụng nhiều nhất để tìm kiếm phòng trọ với lượng phòng trọ tương đối nhiều và đáng tin
              cậy. Tuy nhiên ở đây thông tin sẽ không được thống kê một cách đầy đủ và bài sẽ dễ bị
              trôi khi đăng lên nên các bạn tìm phòng có thể tốn thời gian trong quá trình tìm kiếm.
            </p>
            <h2 id="3-c-c-ng-d-ng-ng-tin-c-y-">3. Các ứng dụng đáng tin cậy.</h2>
            <p>Kênh tiếp theo các bạn tìm phòng có thể hướng đến chính là các ứng dụng tìm phòng đáng
              tin cậy, những ứng dụng đáng tin cậy có thể kể đến ở đây đó là Ohana, chợ tốt,
              batdongsan, … Ở đây sẽ có số lượng phòng lớn, giúp cho các bạn sinh viên có nhiều lựa
              chọn hơn, tuy nhiên vấn đề ở đây lại nằm ở độ tin cậy và chất lượng của phòng trọ. Các
              phòng trọ ở các ứng dụng thường có kiểm duyệt nhưng không chắc chắn hoàn toàn về chất
              lượng. Nhưng các bạn thuê rọ không phải quá lo lắng khi nếu tìm đến Ohana, Ohana sẽ có
              lập một danh sách phòng “xác thực” do Ohana xác thực để giúp các bạn thuê phòng sẽ không
              phải quá lo lắng về chất lượng phòng trọ và lừa đảo khi tìm kiếm phòng trọ cho mình.</p>
            <h2 id="4-c-c-trang-web-t-m-ph-ng">4. Các trang web tìm phòng</h2>
            <p>Các trang web tìm phòng sẽ nên là lựa chọn cuối cùng khi tìm phòng của các bạn tìm trọ,
              do đây là kênh chưa được kiểm chứng rõ rang, dễ tìm phải lừa đảo. Thế nên các bạn tìm
              phòng chỉ nên tìm đến những kênh này khi không tìm được phòng ở những kênh kể trên. Ở
              các trang web tìm phòng, nguồn phòng sẽ cực kỳ đa dạng, nhưng độ tin cậy khá thấp, các
              bạn sẽ có thể gặp phải phòng kém chất lượng hay thậm chí cả lừa đảo trong quá trình tìm
              phòng.</p>
            <p>Để tìm được nhà trọ như ý muốn các bạn nên tìm đến những nguồn đáng tin cậy như bạn bè
              người thân, các hội nhóm đáng tin. Nếu quyết định tìm kiếm nhà trọ trên mạng, nên tìm
              đến những trang mạng hoặc ứng dụng đáng tin cậy. Với nguồn nhà trọ chính thống và đã qua
              kiểm duyệt, Ohana sẽ luôn là một điểm đến đáng tin cậy đối với các bạn mới bắt đầu tìm
              phòng trọ với danh sách phòng “xác thực” được cập nhập hằng ngày. Chúc các bạn sớm tìm
              được phòng như ý nhé.</p>

          </div>
        </div>
      </div>
      <section class="m-author">
        <div class="m-author__content">
          <div class="m-author__picture">
            <a href="#" class="m-author-picture" aria-label="Quang Nguyen">
              <div
                      style="background-image: url(https://blog.ohanaliving.vn/assets/images/default-avatar-square-small.jpg?v=418717ec1b);">
              </div>
            </a>
          </div>
          <div class="m-author__info">
            <h4 class="m-author__name">
              <a href="#">Hehe hehe</a>
            </h4>
            <ul class="m-author-links">
            </ul>
          </div>
        </div>
      </section>
    </div>
  </article>
</main>
<footer class="mt-4 bg-footer">
  <div class="container">
    <div class="last-logo d-flex justify-content-between align-items-center py-4">
      <div>
        <img src="../static/image.screen/footer-logo.svg" alt="Footer Logo">
      </div>
      <div>
        <img class="me-3 ggp" src="../static/image.screen/appstore.png" alt="appstore" width="150" height="60">
        <img class="ggp" src="../static/image.screen/googlePlay.png" alt="googlePlay" width="150" height="60">
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-3">
      <a class="cs" href="#" target="_blank"><span>Điều khoản và chính sách</span></a>
      <div><span>Copyright © DOONG.CO PTE. LTD - 2018 All Rights Reserved</span></div>
    </div>

  </div>
</footer>
<div>
  <div id="up-top">
    <i class="fa-solid fa-chevron-up"></i>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"
        integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>